<%= "# This file is managed with Puppet." %>
<%-
@auth_provider = (@auth_source == "AD") ? "krb5" : "ldap"

%>


[sssd]
config_file_version = 2
domains = <%= @sssd_krb5_realm %>
<% if @ad_automount_home %>
services = nss, pam, autofs
<% else %>
services = nss, pam
<% end %>

<%= @debug_sssd ? "debug_level = 9" : "" %>

[nss]
<%= @debug_sssd ? "debug_level = 9" : "" %>

[pam]
<%= @debug_sssd ? "debug_level = 9" : "" %>

<% if @ad_automount_home %>
[autofs]
<%= @debug_sssd ? "debug_level = 9" : "" %>
<% end %>

[domain/<%= @sssd_krb5_realm %>]
<%= @debug_sssd ? "debug_level = 0x0FF0" : "" %>

ldap_referrals = false
enumerate = false

id_provider = ldap
auth_provider = <%= @auth_provider %>
chpass_provider = <%= @auth_provider %>

access_provider = simple
# This is just to prevent abuse on sshd's open on DIODE - "Real"
# access control is done with pam_access.so instead.
simple_deny_users = root

<% if @directory_source == "AD" %>

ldap_uri = <%= @sssd_ad_servers.map { |h| "ldap://#{h}/" }.join(",") %>
ldap_sasl_mech = gssapi
ldap_schema = ad
ldap_account_expire_policy = ad
ldap_user_search_base = <%= @sssd_base_dn %>
ldap_group_search_base = OU=UnitStudGroups,<%= @ad_server_base_dn %>???OU=AppGroups,<%= @ad_server_base_dn %>???OU=UnitGroups,<%= @ad_server_base_dn %>??
ldap_use_tokengroups = false

<%# We don't want to read userPrincipalName anymore (only useful for RH8)
  # See https://access.redhat.com/solutions/774663 %>
ldap_user_principal = nonExistingAttribute

<% else %>

ldap_uri = ldap://scoldap.epfl.ch/
ldap_schema = rfc2307
ldap_user_search_base = O=epfl,C=ch
ldap_group_search_base = O=epfl,C=ch
ldap_group_object_class = EPFLGroupOfPersons

<% end %>

ldap_force_upper_case_realm = true

krb5_realm = <%= @sssd_krb5_realm %>
krb5_server = <%= @sssd_ad_server %>

# Probably required with sssd 1.8.x and newer
krb5_canonicalize = false

<% if @ad_automount_home %>
ldap_autofs_search_base = OU=automaps,<%= @ad_server_base_dn %>
<% end %>
